body {
    margin: 0 auto;
}
.game-area {
    margin:0 auto;
    text-align: center;
    padding-top: 20px; 
}

.game-options select, .game-options input  {
    border: 1px solid #333;
    padding: 10px;
    margin-right: 10px;
}
.game-board {
    margin-top: 50px;
    padding: 10px;
}
.grid-cell {
    font-size: 40px;
    padding: 15px 25px;
    width: 90px;
    background-color: #FCFCFC;
}
.green-player {
    font-size: 40px;
    padding: 15px 25px;
    width: 90px;
    background-color: green;
    color: #FFF;
}
.red-player {
    font-size: 40px;
    padding: 15px 25px;
    width: 90px;
    background-color: red;
    color: #FFF;
}

.pretty-button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.pretty-button:hover {
  background-color: #F082AC;
}

h1 { 
    color: #F082AC; 
    font-size: 48px; 
    font-family: 'Signika', sans-serif; 
    padding-bottom: 10px; 
}